.slide-content{
    margin: 0 40px;
}
.carta{
    width: 320px;
    border-radius: 25px;
    background-color: #292735;
}
.image-content,
.carta-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0d6efd;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #0d6efd;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #292735;
}
.carta-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #292735;
    padding: 3px;
}
.carta-image .carta-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0d6efd;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.description{
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #0d6efd;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #265df2;
}